# IP address (string) to send packets to
clientIP=localhost

# Port (int) used for both sending and receiving packets
port=55555

# Datagram socket to use
socket=1

# Packet timeout in ms
timeout=50

# Encryption key (64 bit int)
key=53669617439937964248